<div class="modal-header headerStyle font-family">
  <h6 class="modal-title">Privacy Notice</h6>
  <a href=""></a>
</div>
<div class="pivacy-consent">
  <div class="modal-body font-family">
    <p><b>Last updated: 13 April 2026</b></p>
    <h5 class="text-center my-2">
      <b>Privacy Notice – MENA Business Enablement Chatbot</b>
    </h5>
    <ol>
      <li>
        <p><b>Introduction</b></p>
        <p>This Privacy Notice is intended to describe the practices EY follows in 
          relation to the MENA Business Enablement Chatbot ("Tool") with respect to the 
          privacy of all individuals whose personal data is processed and stored in the Tool. 
          This Privacy Notice should be read together with the 
          <a href="https://www.ey.com/en_gl/privacy-statement" target="_blank">ey.com Privacy Statement</a>, 
          and in case of any conflict with the 
          <a href="https://www.ey.com/en_gl/privacy-statement" target="_blank">ey.com Privacy Statement</a>, 
          the terms of this Privacy Notice will prevail. Please read this Privacy Notice carefully.</p>
      </li>
      <li>
        <p><b>Who manages the Tool?</b></p>
        <p>"EY" refers to one or more of the member firms of 
          <b>Ernst & Young Global Limited ("EYG")</b> 
          each of which is a separate legal entity and can determine the purposes and 
          means for data processing in its own right (i.e., act as a data controller 
          or in a similar capacity).</p>
        <p>The entity that is acting as data controller (or similar capacity) 
          by providing this Tool on which your personal data will be processed and stored is:</p>
        <ul>
          <li>For the personal data of EY personnel: The data controller is the EY entity 
            which employs you.</li>
          <li>For the personal data of third-party personnel (including EY clients): The data 
            controller is the EY local member firm with which the third party has a relationship.</li>
        </ul>
        <p class="mt-2">You can find a list of local EY member firms and affiliates on the 
          <a href="https://www.ey.com/en_gl/legal-and-privacy/privacy-statement" target="_blank">ey.com Privacy Statement</a>.</p>
        <p>The personal data in the Tool is shared by the above data controller with one 
          or more member firms of EYG (see "Who can access your personal data" section 6 below).</p>
        <p>The Tool is hosted on servers in Northern Europe (Sweden).</p>
      </li>
      <li>
        <p><b>How does the Tool process personal data?</b></p>
        <p>The Tool is a centralized digital support platform designed to streamline access to 
          internal information, operational guidance, and business enablement services.</p>
        <p>Your personal data processed in the Tool is used as follows: Your personal data is 
          used to provide your authenticated access to the Tool and to provide business contact 
          information to users, where necessary.</p>
        <p>EY relies on the following basis to legitimize the processing of your personal data 
          in the Tool: Processing of your personal data is necessary for the purposes of the 
          legitimate interests pursued by the data controller or by a third party, except where 
          such interests are overridden by the interests or fundamental rights and freedoms of 
          the data subject which require protection of personal data. The specific legitimate 
          interest(s) are (i) EY office workplace management and (ii) Enhancing employee 
          productivity through quick and consistent responses.</p>
        <p>You have the right to object at any time, on grounds relating to your particular 
          situation, to the processing of personal data concerning you based on the above 
          legitimate interest(s).</p>
        <p>In some jurisdictions, personal data of EY users (EY Personnel/subcontractors) 
          is being processed pursuant to the relationship resulting from the employment/service 
          contract with such data subjects and is necessary for the controller or data subject 
          to carry out their obligations in the field of employment, and therefore, for the 
          execution of such contracts.</p>
      </li>
      <li>
        <p><b>What type of personal data is processed in the Tool?</b></p>
        <p>The Tool processes these personal data categories: name and email address of EY Partners, 
          Employees and Contractors</p>
        <p>This data is sourced from: EY's internal systems through Single Sign On (SSO).</p>
      </li>
      <li>
        <p><b>Sensitive personal data</b></p>
        <p>Sensitive personal data reveals your racial or ethnic origin, political opinions, 
          religious or philosophical beliefs, trade union membership, genetic data, biometric data, 
          data concerning health or data concerning sex life or sexual orientation.</p>
        <p>EY does not intentionally collect any sensitive personal data from you via the Tool. 
          The Tool's intention is not to process such information.</p>
      </li>
      <li>
        <p><b>Who can access your personal data?</b></p>
        <p style="text-align: justify;">Your personal data is accessed in the Tool by the 
          following persons/teams:</p>
        <div style="width: 100%; overflow-x: auto;">
          <table class="table table-bordered font-family" 
          style="width: 100%; table-layout: fixed; margin-top: 10px;">
            <thead>
              <tr style="background-color: #FFC000;">
                <th style="font-size: 11px; width: 15%; padding: 8px; word-wrap: break-word;"><b>USER GROUP</b></th>
                <th style="font-size: 11px; width: 12%; padding: 8px; word-wrap: break-word;"><b>LOCATION</b></th>
                <th style="font-size: 11px; width: 35%; padding: 8px; word-wrap: break-word;"><b>PURPOSE</b></th>
                <th style="font-size: 11px; width: 25%; padding: 8px; word-wrap: break-word;"><b>ACCESS</b></th>
                <th style="font-size: 11px; width: 13%; padding: 8px; word-wrap: break-word;"><b>AMOUNT</b></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="font-size: 11px; padding: 8px; word-wrap: break-word;">EY Internal End users</td>
                <td style="font-size: 11px; padding: 8px; word-wrap: break-word;">MENA</td>
                <td style="font-size: 11px; padding: 8px; word-wrap: break-word;">
                  Interact with the chatbot to submit queries and receive business enablement information</td>
                <td style="font-size: 11px; padding: 8px; word-wrap: break-word;">Read / Query (own interactions only)</td>
                <td style="font-size: 11px; padding: 8px; word-wrap: break-word;">Approx. 5000</td>
              </tr>
              <tr>
                <td style="font-size: 11px; padding: 8px; word-wrap: break-word;">
                  Business Content Owners / SMEs</td>
                <td style="font-size: 11px; padding: 8px; word-wrap: break-word;">MENA / Global</td>
                <td style="font-size: 11px; padding: 8px; word-wrap: break-word;">Maintain and validate approved knowledge content (via source system SharePoint,)</td>
                <td style="font-size: 11px; padding: 8px; word-wrap: break-word;">Update / Add (content sources only)</td>
                <td style="font-size: 11px; padding: 8px; word-wrap: break-word;">Approx. 10-20</td>
              </tr>
              <tr>
                <td style="font-size: 11px; padding: 8px; word-wrap: break-word;">Global IT</td>
                <td style="font-size: 11px; padding: 8px; word-wrap: break-word;">Global</td>
                <td style="font-size: 11px; padding: 8px; word-wrap: break-word;">
                  System configuration, monitoring, troubleshooting, and operational support</td>
                <td style="font-size: 11px; padding: 8px; word-wrap: break-word;">Read / Update / Admin (system-level access, restricted)</td>
                <td style="font-size: 11px; padding: 8px; word-wrap: break-word;">Approx 5-10</td>
              </tr>
            </tbody>
          </table>
        </div>
        <p>The access rights detailed above involves transferring personal data in 
          various jurisdictions (including jurisdictions outside the European Union) 
          in which EY operates (EY office locations are listed at 
          <a href="https://www.ey.com/en_gl/locations" target="_blank">https://www.ey.com/en_gl/locations</a>). An overview of EY network entities providing services to external clients is accessible 
          <a href="https://www.ey.com/en_uk/legal-statement" target="_blank">here</a> (See Section 2 (About EY) - "View a list of EY member firms and affiliates"). EY will process your personal data in the Tool in accordance with applicable law and professional regulations in your jurisdiction. Transfers of personal data within the EY network are governed by EY's 
          <a href="https://www.ey.com/en_gl/legal-and-privacy/data-protection-binding-corporate-rules-program" target="_blank">Binding Corporate Rules</a>.</p>
        <p>We transfer or disclose the personal data we collect to third-party service 
          providers (and their subsidiaries and affiliates) who are engaged by us to 
          support our internal ancillary processes. For example, we engage service 
          providers to provide, run and support our IT infrastructure (such as identity management, 
          hosting, data analysis, back-up, security and cloud storage services) and 
          for the storage and secure disposal of our hard copy files. It is our policy 
          to only use third-party service providers that are bound to maintain appropriate 
          levels of data protection, security and confidentiality, and that comply with 
          any applicable legal requirements for transferring personal data outside the 
          jurisdiction in which it was originally collected.</p>
        <p>To the extent that personal data has been rendered anonymous in such a way 
          that you or your device are no longer reasonably identifiable, such information 
          will be treated as non-personal data and the terms of this Privacy Notice will not apply.</p>
        <p>For data collected in the European Economic Area (EEA) or which relates to 
          individuals in the EEA, EY requires an appropriate transfer mechanism as necessary to 
          comply with applicable law. The transfer of personal data from the Tool to Microsoft 
          is governed by an agreement between EY and Microsoft that includes standard data 
          protection clauses adopted by the European Commission.</p>
      </li>
      <li>
        <p><b>Data retention</b></p>
        <p>Our policy is to retain personal data only for as long as it is needed for 
          the purposes described in the section "How does the Tool process personal data". 
          Retention periods vary in different jurisdictions and are set in accordance with 
          local regulatory and professional retention requirements.</p>
        <p>In order to meet our professional and legal requirements, to establish, 
          exercise or defend our legal rights and for archiving and historical purposes, 
          we need to retain information for significant periods of time.</p>
        <p>The policies and/or procedures for the retention of personal data in the Tool are:</p>
        <p><b>The total retention period is defined and will be implemented in accordance with the 
          <a href="https://find.ey.net/discover/sitepages/home.aspx?detailPath=ZYFCSFS674FF-4-3034" 
          target="_blank">EY Records Retention Global Policy</a> 
          and the relevant 
          <a href="https://ig2.ironmountainconnect.com/ey/p/grs/section/country-retention-schedules" 
          target="_blank">Country Retention Schedule (CRS)</a>.
        </b></p>
        <p><b>Log Data will be retained in accordance with the 
          <a href="https://sites.ey.com/sites/informationsecurity/Policy Library/Logging_Policy.pdf" 
          target="_blank">EY IT Logging Policy</a>.</b></p>
        <p>After the end of the data retention period, your personal data will be deleted.</p>
      </li>
      <li>
        <p><b>Security</b></p>
        <p>EY protects the confidentiality and security of information it obtains in the course of 
          its business. 
          Access to such information is limited, and policies and procedures are in place that are 
          designed 
          to safeguard the information from loss, misuse and improper disclosure. 
          Additional information regarding our approach to data protection and information security is 
          available in our 
          <a href="https://eur01.safelinks.protection.outlook.com/?url=https://assets.ey.com/content/dam/ey-sites/ey-com/en_gl/topics/consulting/ey-protecting-your-data-brochure-v2.pdf&&data=05|01|Evangelia.Mavrovounioti@uk.ey.com|1a4a52e2631542f349d908db4bc8f0c2|5b973f9977df4bebb27daa0c70b8482c|0|0|638187098628892489|Unknown|TWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0=|3000|||&&sdata=4aVx9v7vi/C/w7zZjni1F89TCu6LSbe8hAPrfgxxMNA=&&reserved=0" 
            target="_blank">ey-protecting-your-data-brochure-v2.pdf</a> 
          brochure.</p>
      </li>
      <li>
        <p><b>Controlling your personal data</b></p>
        <p>EY will not transfer your personal data to third parties (other than any external 
          parties referred to in section 6 above) unless we have your permission or are required by law to do so.</p>
        <p><b>Your rights in relation to your personal data</b></p>
        <p>Depending on the applicable jurisdiction, you may have certain rights in relation to 
          your personal data, including:</p>
        <ul>
          <li>To request details of the personal data EY processes about you and to access the 
            personal data that EY processes about you</li>
          <li>To have your personal data corrected, for example, if it is incomplete or incorrect</li>
          <li>To restrict or object to the processing of personal data or request the erasure of 
            your personal data</li>
          <li>To receive a copy of the personal data which you have provided to EY in a structured, 
            commonly used and machine-readable format which you can re-use for your own purposes 
            (known as "data portability")</li>
          <li>Where you have provided consent to the processing of your personal data, the right 
            to withdraw your consent.</li>
          <li>The right to complain to a data protection authority (see section "Complaints")</li>
        </ul>
        <p>If you have any questions about how EY processes your personal data or your rights 
          related to your personal data, please send an e-mail to 
          <a href="mailto:global.data.protection@ey.com">global.data.protection@ey.com</a>.</p>
      </li>
      <li>
        <p><b>Complaints</b></p>
        <p>If you are concerned about an alleged breach of privacy law or any other regulation, 
          contact EY's Global Privacy Leader, Office of the General Counsel, 1 More London Place, 
          London, SE1 2AF, United Kingdom or via email at 
          <a href="mailto:global.data.protection@ey.com">global.data.protection@ey.com</a>, 
          <a href="mailto:menadataprotection@ae.ey.com">menadataprotection@ae.ey.com</a> or via your 
          usual EY representative. An EY Privacy Leader will investigate your complaint and provide 
          information about how it will be handled and resolved.</p>
        <p>If you are not satisfied with how EY resolved your complaint, you may have the right to 
          complain to your country's data protection authority. You may also have the right to refer 
          the matter to a court of competent jurisdiction.</p>
        <p>Certain EY member firms in countries outside the European Union (EU) and the UK have 
          appointed representatives in the EU and the UK respectively to act on their behalf if, 
          and when, they undertake data processing activities to which the EU General Data Protection 
          Regulation (GDPR) and/or the UK General Data Protection Regulation (UK GDPR) applies. 
          Further information and the contact details of these representatives are available below:</p>
        <p><a href="https://www.ey.com/en_gl/data-protection-representative" 
          target="_blank">EU data protection representative | EY</a></p>
        <p><a href="https://www.ey.com/en_rs/uk-data-protection-representative" 
          target="_blank">UK Data protection representative (ey.com)</a></p>
      </li>
      <li>
        <p><b>Contact us</b></p>
        <p>If you have additional questions or concerns, contact your usual EY representative or email 
          <a href="mailto:menadataprotection@ey.com">menadataprotection@ey.com</a> or 
          <a href="mailto:global.data.protection@ae.ey.com">global.data.protection@ae.ey.com</a></p>
      </li>
    </ol>
    <br />
    <div style="text-align: center">
      <hr class="separation" />
    </div>
    <div class="row my-4 mx-3">
      <div class="col-lg-2 col-md-6">
        <label>
          <input class="" type="radio" name="pia" (click)="agreePIA($event)" class="pia-rb" />
          Yes, I agree
        </label>
      </div>
      <div class="col-lg-4 col-md-6">
        <label>
          <input type="radio" name="pia" (click)="notAgreePIA($event)" class="pia-rb" />
          No, I don't agree
        </label>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer d-flex font-family">
  @if (!isUserClicked) {
  <p style="color: #ffe600">
    You need to agree to the terms and conditions prior to clicking the Agree
    button.
  </p>
  }
  @if (isConfirmHide) {
  <p style="color: #ffe600">
    If you do not agree to the terms and conditions then you will not be able to
    access the application.
  </p>
  }

  @if (isConfirmHide) {
  <button type="button" class="btn btn-primary" (click)="passConfirmationBack(false)">
    {{ cancelText }}
  </button>
  }
  @if (!isConfirmHide) {
  <button type="button" class="btn btn-primary" [disabled]="!isUserClicked"
    (click)="isUserClicked && passConfirmationBack(true)">
    {{ confirmText }}
  </button>
  }
</div>