<div class="full-background d-flex align-items-center justify-content-center text-center">
    <div class="p-5 d-flex flex-column align-items-center">
        <!-- <img src="/assets/bot.png" alt="Logo" class="mb-4 img-avatar" /> -->
        <div class="logo d-inline-block align-top mb-4 img-avatar"></div>
        <h1 class="fw-bold  mb-3">MENA Chat BE</h1>
        <div class="mb-3">
            <h5 class="text-light font-ey-light">
                Your new AI buddy for quick, reliable Business Enablement answers.
            </h5>
        </div>
        <button class="btn btn-light px-4 btn-sm chat-now-btn" (click)="onLaunch()">
            Chat now
        </button>
    </div>
</div>