$background-image: "/assets/bg.jpg";
$app-company-logo: "/assets/EYLogo.png";
$app-company-logo-small: "/assets/u15.png";

// $app-backgrond: #2e2e38;
$app-backgrond: rgba(196, 196, 205, 0.34902);
$app-font-color: #fff;
$app-font-inverse-color: white;
$app-footer-background: rgba(46, 46, 56, 1);
$app-primary-color: #1a1a24;
$app-secondary-color: #23232f;
// $app-backgrond: #EAEAF2;
// $app-font-color: black;
$app-company-logo-width: 113px;
$app-company-logo-height: 55px;
$app-company-logo-small-size: 24px;
$app-company-logo-md-size: 48px;
$app-company-logo-sm-size: 36px;

$app-seperator-color: #747480;
$primary-color: #ffe600;
$menu-secondary-color: #ffe600;
$menu-hover-color: #2e2e38;
$menu-color: rgba(46, 46, 56, 1);
$menu-top-bg-color: #1a1a24;
$menu-top-color: #747480;
$tab-background: white;
$app-netural-background: #1a1a24;
$app-netural-font-color: #fff;

$select-border-color: #495057;
$select-pill-bg: #2e2e38;

$dark-card-bg: #2e2e38;
$loader-color: #ffe600;
$chat-sidebar-w: 225px;   /* expanded width */
$chat-sidebar-cw: 50px;   /* collapsed (icon-only) width */
$font-size-sm: 0.75rem;

html {
  height: 100%;
}

body {
  height: 100%;
  overflow: hidden;
  font-family: 'EYInterstate-Light', sans-serif !important;
  font-size: $font-size-sm;
  // background-color: #2E2E38;
  color: $app-font-color;
  max-width: 2000px;
  margin: auto;
}

td {
 color: $app-font-color;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus,
select.form-control:focus,
.btn:focus,
button:focus {
  border-color: #c4c4cd !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: 0 none !important;
}

.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show > .nav-link {
  color: #ffe600;
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
}

.input-group-text {
  border-radius: 0 !important;
}

.input-group .form-control {
  border-radius: 0 !important;
  color: #ffffff;
}


.bg-dark {
  background-color: #2e2e38 !important;
}

h1, h2, h3, h4, h5, h6,
.heading,
.title
 {
  font-weight: 600; 
  font-family: 'EYInterstate-Regular', 'Noto Sans', Arial, sans-serif !important;
}
table th{
  font-weight: 600; 
  font-family: 'EYInterstate-Regular', 'Noto Sans', Arial, sans-serif !important;
}


.seperator {
  border-top: 1px solid $app-seperator-color;
}

.bg-menu-color {
  background-color: $menu-color;
}

.logo-base {
  background-image: url($app-company-logo-small);
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  background-size: contain;
}

.logo {
  @extend .logo-base;
  width: $app-company-logo-width;
  height: $app-company-logo-height;
}

.logo-md {
  width: $app-company-logo-md-size;
  height: $app-company-logo-md-size;
  @extend .logo-base;
}

.logo-sm {
  width: $app-company-logo-small-size;
  height: $app-company-logo-small-size;
  @extend .logo-base;
}

.logo-text {
  color: $app-seperator-color;
}

.app-footer {
  background-color: $app-footer-background;
}

.header-top-sm {
  background-color: $menu-top-bg-color;
}

.invers-color {
  color: $app-font-inverse-color;
}

.font-sm {
  font-size: small;
}

.font-xs {
  font-size: x-small;
}

::ng-deep .dark-chart {
  text {
    fill: white;
  }
}
// label {
//   @extend .font-sm;
// }
.text-danger {
  @extend .font-sm;
}

.form-label-sm {
  font-size: 0.875rem;
}

.popup-loading {
  pointer-events: none;
  opacity: 0.6;
}

.footer-note {
  font-size: x-small;
  font-style: italic;
}
:root {
  --bs-body-bg: $app-backgrond;
  --bs-body-color: $app-font-color;
  opacity: 1;
}
.seconday-menu .navbar-dark .navbar-nav .nav-item {
    min-width: 3rem;
}

.seconday-menu .navbar-dark .navbar-nav .nav-link {
  border-bottom: none;
}