<div class="modal-lg mt-0">
  <div class="modal-content">
    <div class="modal-header modal__header headerStyle">
      <h5 class="modal-title">Session Expired</h5>
    </div>
    <div class="modal-body modal__body mt-3">
      <h6>Your session has timed out. Close the browser or try to relogin.</h6>
    </div>
    <div class="modal-footer d-flex justify-content-center">
      <button type="button" class="btn btn-primary m-0" (click)="relogin()">
        Re-Login
      </button>
    </div>
  </div>
</div>
